body {
    margin: 0%;
}

.header-top { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p { 
        font-size: var(--font-size-tekst);
        font-family: var(--font-family-text);
        color: var(--primary-section-color)
    }

}

.header-middel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-tekst);
    font-family: var(--font-family-text);
    justify-content: space-evenly;
    overflow-x: auto;
    white-space: nowrap;
    gap: 1rem;
    padding: 1rem;

}

main{
    display: flex;
    flex-direction: column;
    text-align:  center;
    justify-content: center;
}

.main-bottom {
    display: flex;
    flex-direction: column;
    background-color: #edf7f7;

    & img  {
        width: 62px;
        height: 65px;
     
    }
}


article {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 2rem;
    max-width: 600px;
    overflow-wrap: break-word;
   
}

.footer-bottom {
    display: block; 
    text-align: center;
    padding: 2rem;
    background-color: #edf7f7;

    & a {
        list-style: none;
        margin: 1rem 0 1rem 0;
        justify-content: center;
        gap: 1rem;
    }

    a:hover {
        text-decoration: underline; 
    }
}


.footer-bottom-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem; 

    & a {
        background-color: #9b9b9b;
    height: 2.1rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    text-decoration: none;
    
        &:hover {
            background-color: #17928C;
        }
    }
}

.footer-bottom-icons img {
    width: 30px;
    height: 30px;
}


/* interactie */
.hidden {
    display: none;
  }
  
  #feedback-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: var(--primary-section-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

.star-rating input {
    display: none;
}


.star-rating .star {
    font-size: 40px;
    color:#0d66626d;
    cursor: pointer;
    transition: color 0.3s;
    margin-right: 5px;
}

.star:hover {
    color: var(--primary-section-color);
}

.star-rating input:checked ~ .star {
    color: var(--primary-section-color);
}

  #feedback-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #edf7f7;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    & p{
        font-size: 1rem;
        font-family: var(--font-family-text);
    }
    
  }

  h4 {
    font-size: 1.5rem;
    font-family: var(--font-family-titles);
    color: #0d4e4b;
  }
  
  select {
    font-family: var(--font-family-text);
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }

  input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;

  }

  #feedback {
    min-width: 250px; 
    max-width: 600px;
    height: 100px;  
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
  }


  #close-form {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
 

