/* Algemene kleurinstellingen */
:root {
    --background-color: #ffffff;
    --primary-section-color: #03776f;
    --secondary-section-color: #17928d;
    --tertiary-section-color: #dfdfdf;
    --background-color-article: #0386867d;
    --background-color-footer: #ecebec;
    --feedbackform-background-color:#edf7f7;

    /* TEXT KLEUREN */
    --text-color: #000000;
    --title-color: #005f5e;
    --link-text-color: #004c4c;
    --menu-link-text-color: #ffffff;
    --footer-text-color: #666666;

    /* BUTTON KLEUREN */
    --primary-button-color: #004c4c;
    --primary-button-hover-color: #00a296;
    --primary-click-button-color: #002c2c;
    --secondary-button-color: #f3c003;
    --secondary-button-hover-color: #b18c06;
    --icon-color: #b6b6b6;

    /* FONTGROOTES */
    --font-size-header-l: 32px;
    --font-size-header-m: 25px;
    --font-size-header-s: 19px;
    --font-size-text: 16px;
    --font-size-text-s: 12px;

    /* FONT */
    --font-family-titles: "Roboto condensed";
    --font-family-text: "Roboto";

    /* BUTTON */
    --button-padding: 10px 20px;
    --button-border: none;
    --button-border-radius: 5px; 
}

/*STIJL TEXT CONTENT*/
h1 {
    font-family: var(--font-family-titles);
    font-size: var(--font-size-header-l);
    color: var(--title-color);
}

h2 {
    font-family: var(--font-family-titles);
    font-size: var(--font-size-header-m);
    color: var(--title-color);
}

h3 {
    font-family: var(--font-family-titles);
    font-size: var(--font-size-header-medium);
    color: var(--tertiary-section-color);
    font-weight: normal;
    color: var(--text-color);
}

h4 { 
    font-family: var(--font-family-titles);
    font-size:var(--font-size-header-m);
    color: var(--primary-button-color);
}

p {
    font-family: var(--font-family-text);
    font-size: var(--font-size-text);
    color: var(--text-color);
}

a {
    text-decoration: none;
    font-family: var(--font-family-text);
    color: var(--link-text-color);

    &:hover {
        text-decoration: underline;
    }
}

nav { 
font-size: var(--font-size-text);
background-color: var(--primary-section-color);
color: var(--menu-link-text-color);
}



/* SIJL ARTICLE */
article {
    background-color: var(--background-color-article);
}

/* STIJL BUTTONS */
button {
    padding: var(--button-padding);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    font-family: var(--font-family-text);
    font-size: var(--font-size-text);
    background-color: var(--secondary-button-color);
    color: var(--text-color);
    cursor: pointer;
}


button:hover {
    background-color: var(--secondary-button-hover-color);
}

.button:hover {
    background-color: var(--primary-button-color);
    text-decoration: none;
    }

.primary-menu {
    font-family: var(--font-family-titles);
}


/* LOGO */
.logo {
    width: 129px;
    height: 40px;
}

/* STIJL FOOTER */

.footer-top {
    color: var( --tertiary-section-color);
    background-color: var(--primary-section-color);
}

.footer-top p {
    color: var(--tertiary-section-color);
}

.footer-top .service-button {
    background-color: var(--primary-button-color);
    color: var(--tertiary-section-color);
    font-size: var(--font-size-text);
    font-weight: bold;
    text-decoration: none;
    border-radius: var(--button-border-radius);

    & a {
        text-decoration: none;
        color: var(--background-color);
    }
} 

.footer-top .service-button:hover {
    background-color: var(--primary-click-button-color);
}

.footer-top .service-button img {
    width: 45px;
    height: 45px;
}

.footer-bottom {
    background-color: var(--background-color-footer);
}

.footer-bottom li:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
    color: var(--primary-button-color);
}

.footer-bottom a {
    text-decoration: none;
    color: var(--primary-click-button-color);
    font-size: var(font-size-text); 
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-bottom-icons {
    background-color: var(--background-color-footer);
}

.footer-bottom-icons a {
    background-color: var(--icon-color);
}

.footer-bottom-icons a:hover {
    background-color: var(--secondary-section-color);
}

.footer-bottom-icons img {
    width: 20px;
    height: 30px;
}

.web-versie { 
        font-size: var(--font-size-s);
        color: var(--footer-text-color);
      
    }

#feedback-button {
    background-color: var(--primary-section-color);
    color: var(--background-color) ;
    border-radius: var(--button-border-radius);
    cursor: pointer;
}

#feedback-button {
    background-color: var(--secondary-button-color);
    color: var(--text-color)
}

#feedback-form {
    background-color: var(--feedbackform-background-color);

    & p { 
        font-family: var(--font-family-text);
    }
}

select, input, textarea {
    font-family: var(--font-family-text);
}

#close-form {
    background: none;
    font-size: var(--font-size-header-l);
    cursor: pointer;
    color: var(--primary-button-color);
}

/* STAR RATING*/
.star-rating .star {
    font-size: 40px;
    cursor: pointer;
    color: var(--background-color-article);
}

.star:hover,
.star-rating input:checked ~ .star {
    color: var(--primary-button-color);
}